ul.buttons
      li.button
       a.button_link(href="portfolio.html") Мои работы
      li.button
       a.button_link(href="about.html") Обо мне
      li.button
       a.button_link(href="blog.html") Блог 