div.footer_test
 div.container 
  div.footer-part Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
  div.footer-part
       nav.footer-nav
        ul.footer-nav__list
         li.footer-nav__item
          a.footer-nav__link(href="portfolio.html") Мои работы
         li.footer-nav__item
          a.footer-nav__link(href="about.html") Обо мне
         li.footer-nav__item
          a.footer-nav__link(href="blog.html") Блог
         li.footer-nav__item
          a.footer-nav__link(href="index.html") Авторизация
       div.footer-social
        ul.social-list
         li.social-list__item
          a.social-list__link(href="#")
           svg.social-list__svg
            use(xlink:href='/assets/img/sprite.svg#vk')
         li.social-list__item
          a.social-list__link(href="#")
           svg.social-list__svg
            use(xlink:href='/assets/img/sprite.svg#github')
         li.social-list__item
          a.social-list__link(href="#")
           svg.social-list__svg
            use(xlink:href='/assets/img/sprite.svg#in')
  div.footer-part 
    div.footer-part__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живёте
    div.footer-part__author - Martin Golding
div.footer-bottom
 div.container
  ul.footer-bottom__list
   li.footer-bottom__item <i class="fa fa-copyright" aria-hidden="true"></i> Анна Горшкова
   li.footer-bottom__item Создано с лбовью в LoftSchool
   li.footer-bottom__item 2016