header.header-page.header-page_angle
    div.social-container
     include _social.pug
    div.hamburger
     svg.hamburger__svg
      use(xlink:href='/assets/img/sprite.svg#hamburger')   
    div.site-description
     div.site-description__avatar
      div.avatar
       img.avatar__image(src="assets/img/avatar.png", alt="")
     div.site-info
      div.site-info__name Анна Горшкова
      div.site-info__descr Личный сайт веб разработчика
      div.site-info__bg
    div.arrow-down
     svg.arrow-down__svg
        use(xlink:href='/assets/img/sprite.svg#arrow_down') 