ul.social-list
      li.social-list__item
       a.social-list__link(href="#")
        svg.social-list__svg
         use(xlink:href='/assets/img/sprite.svg#vk')
      li.social-list__item
       a.social-list__link(href="#")
        svg.social-list__svg
         use(xlink:href='/assets/img/sprite.svg#github')
      li.social-list__item
       a.social-list__link(href="#")
        svg.social-list__svg
         use(xlink:href='/assets/img/sprite.svg#in')